body{
    background-color: #ffff00;
}

a{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: #800080;
    color : #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}